out/
thirdparty/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
thirdparty/glm-build/glm/glm.lib
thirdparty/glm-build/glm/CMakeFiles/glm.dir/detail/glm.cpp.obj
thirdparty/glfw-build/src/glfw3.lib
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/window.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/win32_window.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/win32_time.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/win32_thread.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/win32_module.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/win32_init.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/wgl_context.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/vulkan.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/platform.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/null_window.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/null_monitor.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/null_joystick.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/null_init.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/monitor.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/input.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/init.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/egl_context.c.obj
thirdparty/glfw-build/src/CMakeFiles/glfw.dir/context.c.obj
thirdparty/glad-build/glad.lib
thirdparty/glad-build/CMakeFiles/glad.dir/src/glad.c.obj
thirdparty/fastgltf-build/fastgltf.lib
thirdparty/fastgltf-build/CMakeFiles/fastgltf.dir/src/io.cpp.obj
thirdparty/fastgltf-build/CMakeFiles/fastgltf.dir/src/fastgltf.cpp.obj
thirdparty/fastgltf-build/CMakeFiles/fastgltf.dir/src/base64.cpp.obj
thirdparty/fastgltf-build/CMakeFiles/fastgltf.dir/deps/simdjson/simdjson.cpp.obj
